div
{
	margin: 10px;
}

$elSizo: 100px;

@mixin square($size, $color)
{
	background-color: red;
	width: $size;
	height: $size;
	border-color: black;
	border-style: solid;
	border-width: $size/10;
	text-align: center;
	color:$color;
	font-size: $size/2;

}

@mixin circle($size)
{
  height: $size;
  width: $size;
  border-radius: 50%;
  display: inline-block;

}

@mixin rectangle($size)
{
	width: $size;
	height: $size / 2;
	background-color: red;
}

#square
{
	@include square($elSizo, blue);
}

#halfSquare
{
	@include square($elSizo / 2, yellow);
}

#quarterSquare
{
	@include square($elSizo / 4, black);
}

#circle
{
	@include circle(100px);
	background-color: red;
}

#halfCircle
{
	@include circle(50px);
	background-color: blue;
}

#rectangle
{
	@include rectangle(100px);
}