div
{
  margin: 10px;
}

$elSizo: 100px;

@mixin square($size, $color, $border: true)
{
  background-color: red;
  width: $size;
  height: $size;
@if $border{
  border-color: black;
  border-style: solid;
  border-width: $size/10;
  }
  text-align: center;
  color:$color;
  font-size: $size/2;

}

@mixin circle($size, $blue: false)
{
  height: $size;
  width: $size;
  border-radius: 50%;
  display: inline-block;

  @if $blue
  {
  background-color: blue;
  }
  @else 
  {
  background-color: red;
  }

}

@mixin rectangle($size)
{
  width: $size;
  height: $size / 2;
  background-color: red;
}

#square
{
  @include square($elSizo, blue, $border: false);
}

#halfSquare
{
  @include square($elSizo / 2, yellow);
}

#quarterSquare
{
  @include square($elSizo / 4, black);
}

$cSizes: 100px, 50px, 25px;

@each $size in $cSizes
{
  #circle#{$size}
  {
@include circle($size, $blue: true);
  }
}



#rectangle
{
  @include rectangle(100px);
  @extend #text;
}

#text
{
  text-decoration: underline;
  text-align: center;
}